@font-face {
  font-family: "aAttackGraffiti";
  src: url("aAttackGraffiti.ttf");
}
@font-face {
  font-family: "adrip1";
  src: url("adrip1.ttf");
}
@font-face {
  font-family: "docallismeonstreet";
  src: url("docallismeonstreet.otf");
}
@font-face {
  font-family: "punkkid";
  src: url("punkkid.ttf");
}
@font-face {
  font-family: "StreetWars";
  src: url("StreetWars.ttf");
}
@font-face {
  font-family: "TheBattleCont";
  src: url("TheBattleCont.ttf");
}
@font-face {
  font-family: "throwupz";
  src: url("throwupz.ttf");
}
@font-face {
  font-family: "monaco";
  src: url("Monaco.ttf");
}
@font-face {
	font-family: Nexa;
  src: url("NexaBold.otf");
}

/* 

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

canvas {
  border: 1px solid #000;
  cursor: pointer;
}
   */

/* Basic Reset */

:root {
  --bg-color: #FAF9F6;
  --eli-red: #EA322E;
  --eli-dark-red: #941100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'monaco', Arial, sans-serif;
  background-color: var(--bg-color);
  margin-left: 30vmin;
  margin-right: 30vmin;
}

h1,h2,h3,h4 {
  font-family: Nexa, Arial, sans-serif;
  font-weight:normal;
	font-style:normal;
  padding: 10px 0 10px 0;
  margin: 10px 0 10px 0;
}

a {
  color: var(--eli-red);
}

a:visited {
  color: var(--eli-dark-red);
}

.canvas-container {
  box-shadow: 0 0 1em 0 rgba(0,0,0,0.5);
  background-color: white;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.3s;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: left;
  z-index: 1;
  box-shadow: 0 0 1em 0 rgba(0,0,0,0.5);
}

.sidebar a {
  display: block;
  margin-block-start: 20px;
  margin-right: 20px;
  transition: 0.2s;
  text-align: right;
}

#helpMessage {
  margin: 5px 0 5px 0;
}

#form-container {
  margin: 20px auto;
}

#form {
  width: 300px;
  margin: 0 auto;
  background-color: var(--bg-color);
  border-radius: 10px;
  margin-top: 25px;
  padding: 0 10px 0 10px;
  /* box-shadow: 0 0 1em 0 rgba(0,0,0,0.3); */
  border: 1px solid #ccc;
}

#textInput {
  margin-bottom: 2.5px;
  /* Prevent resizing only in the y direction */
  resize: vertical;
  padding: 10px;
}

#hint {
  font-size: 65%;
  float: right;
  margin-right: 3px;
}

#fontSelector {
  width: 100%;
}

.button {
  padding: 10px;
  background-color: var(--eli-red);
  color: var(--bg-color);
  cursor: pointer;
}

.button:hover {
  background-color: var(--eli-dark-red);
}

.open-btn {
  font-size: 0em;
  padding: 8px 30px 8px 30px;
}

#saveButton {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*
#loginLogoutButton {
  width: 100%;
  height: 40px;
  margin-block: 20px;
} */

.fullLengthButton {
  width: 100%;
  height: 40px;
  margin-block: 20px;
}

#zoom {
  visibility: hidden;
  display: none;
}

#zoomButtons {
  text-align: right;
  z-index: 9999;
}

#zoomButtons button {
  font-size: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: pointer;
  color: #000;
}

#errorMessage {
  color: var(--eli-red);
  float: right;
  margin-top: 20px;
}

#goodMessage {
  float: right;
  margin-top: 20px;
}

#profileLink {
  text-align: right;
  float: right;
  margin-top: 10px;
}

.feature {
  padding-block: 10px;
  border-bottom: 1px solid #ccc;
}

canvas {
  margin-bottom: 20px;
}

select, input[type="color"], textarea, button {
  margin-block: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'monaco', Arial, sans-serif;
  background-color: #fff;
}

input[type="text"] {
  height: 40px;
  padding: 5px;
}

input[type="color"] {
  height: 40px;
}

select {
  padding: 10px;
  height: 40px;
}

input {
  width: 100%;
}

@media (max-width: 1500px) {
  body { 
    margin-left: 20vmin;
    margin-right: 20vmin;
  }
}

@media (max-width: 1200px) {
  body { 
    margin-left: 10vmin;
    margin-right: 10vmin;
  }
}

@media (max-width: 768px) {
  body {
    margin-left: 10px;
    margin-right: 10px;
  }

  .container {
    width: 100%;
    margin: auto;
  }

  canvas {
    max-width: 100%;
    height: auto;
  }
}
