{% load socialaccount %} 

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GFH9E168JZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-GFH9E168JZ');
  </script>
</head>
<body>
  <h1>hello</h1>

  {% if user.is_authenticated %}
      <p>You're logged in! <a href="{% url 'account_logout' %}">Log out</a></p>
  {% else %}
      <h2>Login or Signup</h2>

      <a href="{% provider_login_url 'twitter' %}">Login with Twitter</a>
  {% endif %}
  
</body>
</html>